@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap';
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    src: local("Material Icons"), local("MaterialIcons-Regular"),
      url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
      url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
      url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
  
  .material-icons {
    font-family: "Material Icons";
    color: black;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: absolute;
    right: 0;
  
    /* Suporte para all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Suporte para Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Suporte para Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Suporte para IE. */
    font-feature-settings: "liga";
  }
 :root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #282a36;
    color: white;
    font-family: 'Souce Sans Pro', sans-serif;
}

header {
    padding: 10px;
    border-bottom: 7px solid 1px #333;
    background: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 20px;
}

#wrapper img {
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 22px;
    font-weight: normal;
    height: 250px
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 22px auto;
    font-size: 24px;
    line-height: 24px;
}

#wrapper p a {
    color: var(--color-green);
    text-decoration: none;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}
/*== CARDS ==*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
}

.card__image-container img {
    width: 100%
}
.card__content,
.card__info { 
    padding: 24px;
 }
 .card__info {
     display:grid;
     grid-template-columns: 1fr 1fr;
 } 
.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;

}
.card1__price1 {
    background-color: #473FEA;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius:20px;
    text-align: center;

}
.card1 {
    background-color: #473FEA;
}
.card__price2 {
    background-color: #FEA71B;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;

}
.card2 {
    background-color: #FEA71B;
}

.card__price3 {
    background-color: #90D2EB;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;

}
.card3 {
    background-color: #90D2EB;
}
.card__price4 {
    background-color: #5ABFE5;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;

}
.card4 {
    background-color: #5ABFE5;
}
.card__price5 {
    background-color: #0C9648;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;

}
.card5 {
    background-color: #0C9648;
}

/*=== MODAL ===*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
.modal {
    background-color:white ;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    
}
.icons {
    right: 0px;
}
