        @import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap';
         :root {
            --color-green: #50fa7b;
            --color-rocket: #7159c1;
        }
        
        * {
            padding: 0;
            margin: 0;
            border: 0;
        }
        
        body {
            background: #282a36;
            color: white;
            font-family: 'Souce Sans Pro', sans-serif;
        }
        
        header {
            padding: 10px;
            border-bottom: 7px solid 1px #333;
            background: rgba(0, 0, 0, 0.1);
        }
        
        .links {
            text-align: center;
        }
        
        .links a {
            color: rgb(255, 255, 255);
            font-size: 18px;
            line-height: 28px;
            margin: 0 16px;
            padding-bottom: 3px;
            text-decoration: none;
        }
        
        .links a:hover {
            color: var(--color-green);
            transition: color 200ms;
        }
        
        #wrapper {
            text-align: center;
            padding: 20px;
        }
        
        #wrapper img {
            border-radius: 50%;
            border: 5px solid var(--color-green);
            margin-bottom: 22px;
            font-weight: normal;
            height: 250px
        }
        
        #wrapper h1 {
            font-size: 42px;
            line-height: 52px;
            font-weight: bold;
        }
        
        #wrapper h2 {
            font-size: 24px;
            line-height: 24px;
            font-weight: normal;
            margin-top: 8px;
            opacity: 0.8;
        }
        
        #wrapper p {
            max-width: 500px;
            margin: 22px auto;
            font-size: 24px;
            line-height: 24px;
        }
        
        #wrapper p a {
            color: var(--color-green);
            text-decoration: none;
        }
        
        #links-footer a {
            border-bottom: 1px solid var(--color-green);
        }
        /*== CARDS ==*/
        
        .cards {
            max-width: 800px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }
        
        .card {
            background-color: var(--color-rocket);
        }
        
        .card__image-container img {
            width: 100%
        }
        .card__content,
        .card__info { 
            padding: 24px;
         }
         .card__info {
             display:grid;
             grid-template-columns: 1fr 1fr;
         } 
        .card__price {
            background-color: var(--color-rocket);
            filter: brightness(90%);
            padding: 5px 20px;
            border-radius: 20px;
            text-align: center;

        }
        .card1__price1 {
            background-color: #473FEA;
            filter: brightness(90%);
            padding: 5px 20px;
            border-radius: 20px;
            text-align: center;

        }